<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://hcmc.uvic.ca/ns/staticSearch" version="1">
    <params>
        <searchFile>../../Elder_Scrolls_Morrowind/docs/search.html</searchFile>
        <versionFile>VERSION</versionFile>
        <recurse>true<!--Need to set recurse to true for the test--></recurse>
        <linkToFragmentId>true</linkToFragmentId>
        <scrollToTextFragment>false</scrollToTextFragment>
        <phrasalSearch>true</phrasalSearch>
        <wildcardSearch>true</wildcardSearch>
        <createContexts>true</createContexts>
        <resultsPerPage>5</resultsPerPage>
        <minWordLength>2</minWordLength>
        <!--NOTE: If phrasalSearch is set to TRUE, then
        maxContexts prop will be ignored-->
        <maxKwicsToHarvest>5</maxKwicsToHarvest>
        <maxKwicsToShow>10</maxKwicsToShow>
        <totalKwicLength>20</totalKwicLength>
        <kwicTruncateString>...</kwicTruncateString>
        <verbose>false</verbose>
        <stopwordsFile>../xsl/english_stopwords.txt</stopwordsFile>
        <dictionaryFile>../xsl/english_words.txt</dictionaryFile>
        <indentJSON>true</indentJSON>
    </params>
    
    <rules>
        <rule weight ="2" match="table"/>
        <rule weight ="1" match="p"/>
        <rule weight="0" match="*[matches(local-name(),'^h\d+$')] | script | style | header | nav | footer | *[@id='nav']"/>
    </rules>
    
    <contexts>
        <context match="*[@id='bookTables']" label="Book Table"/>
        <context match="*[@id='items']" label="Item Table"/>
        <context match="*[@id='loc']" label="Location Table"/>
        <context match="*[@id='group']" label="Group Table"/>
        <context match="*[@id='persons']" label="Person Table"/>
        <!--<context match="*[contains-token(@class,'cv')]" label="CV Page"/>-->
        
    </contexts>
    
    <excludes>
        <exclude type="index" match="html[@id='excluded']"/>
        <exclude match="meta[contains-token(@class,'excludedMeta')]" type="filter"/>  
    </excludes>
    
</config>
